.custom-button {
  background-color: rgb(43, 41, 41);
  border: none;
  color: white;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  letter-spacing: 1px;
  cursor: pointer;
}
