.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-container {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 3px 10px;
  font-size: 3rem;
  font-family: "Festive", cursive;
  margin: 0;
  font-weight: 600;
}
.option {
  font-size: 1.5rem;
  padding: 10px;
  text-decoration: none;
  color: black;
}
