.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
}
.logo-container {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 3px 10px;
  font-size: 2rem;
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  border: 1px solid black;
}
.option {
  padding: 10px;
  text-decoration: none;
  color: black;
}
