.group {
  padding: 5px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-input-label {
  font-size: 1.2rem;
  font-weight: 600;
}
.form-input {
  width: 30%;
  height: 26px;
  border: none;
  border: 0.5px solid black;
  border-radius: 5px;
}
.form-input:focus {
  outline: none;
}
